.account__nav {
  background-color: $light-blue-color;
  width: 33.5%;
}
.account__content {
  width: 63%;
}
.account__wrapper-nav {
  margin-left: 11%;
}
.account__navigation  {
  list-style: none;
 }
.account__wrapper-content {
  width: 85%;
  max-width: 985px;
  min-height: 910px;
  outline: 2px solid rgb(131, 130, 158);
  outline-offset: -2px;
  margin-left: 15%;
  padding-top: 55px;
}
.account__contacts {
  width: 100%;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
}
.account__contacts-title {
  text-align: left;
  padding-left: 115px;
}
.account__title {
  font-family: El Messiri;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .account__title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .account__title {
    line-height: 22px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .account__nav {
    background-color: transparent;
    width: 100%;
  }
  .account__wrapper-nav {
    margin-left: 4%;
  }
  .account__wrapper-content {
    width: 95%;
    padding-top: 0px;
    margin: 0 auto;
  }
  .account__content {
    width: 100%;
  }
  .account__contacts {
    padding-left: 15px;
  }
  .account__contacts-title {
    text-align: center;
    padding-left: 0px;
  }
}

