.contacts {
  max-width: 1119px;
  min-height: 127px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.contacts__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 47px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__link {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: $dark-purple-color;
  padding-left: 55px;
}
.contacts__link_account-page {
  font-size: 16px;
}
.contacts__link_wapp {
  background-image: url(/source/img/whatsapp-blue-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.contacts__link_telegram {
  background-image: url(/source/img/telegram-blue-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.contacts__link_mail {
  background-image: url(/source/img/mail-blue-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 0 20px;
  }
  .contacts__link {
    font-size: 18px;
    padding-left: 35px;
  }
  .contacts__link_telegram, .contacts__link_wapp, .contacts__link_mail {
    background-size: 30px;
  }
}
@media (max-width: 768px) {
  .contacts {
    margin-bottom: 60px;
  }
  .contacts__title {
    padding-bottom: 20px;
  }
  .contacts__link {
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .contacts__wrapper {
    flex-direction: column;
  }
}
