.contact-icons {
  width: 191px;
  margin-left: 5%;
  padding: 24px 1px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .contact-icons {
    margin: 0 auto;
    }
}
