.faq {
  max-width: 1310px;
  min-height: 984px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-family: Raleway;
  font-style: normal;
}
.faq__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 55px;
}
.faq__questions {
  list-style: none;
}
.faq__question {
  color: $dark-purple-color;
}
@media (max-width: 1024px) {
  .faq {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .faq {
    margin-bottom: 60px;
    min-height: auto;
    padding: 0 30px;
  }

  .faq__title {
    padding-bottom: 30px;
  }
  .faq__question {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .faq__questions {
    padding-bottom: 30px;
  }
}
