.footer {
  min-height: 251px;
  width: 100%;
  outline: 2px solid rgb(241, 17, 148);
  outline-offset: -2px;
  background-color: $lavender-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
}
.footer__top, .footer__bottom {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  outline: 2px solid rgb(29, 26, 219);
  outline-offset: -2px;
}
.footer__top {
  height: 69px;
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 527px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__link {
  font-size: 20px;
  line-height: 30px;
  color: $dark-purple-color;
  padding-bottom: 6px;
}
.footer__icon {
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    min-width: 400px;
  }
}
