.item {
  max-width: 1140px;
  min-height: 437px;
  outline: 2px solid rgb(241, 37, 156);
  outline-offset: -2px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
.item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.item:nth-of-type(even) .item__text2-wrapper {
  padding-left: 15px;
}
.item__buttons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  order: 3;
}
.item__button {
  width: 328px;
}
.item__icon-cart {
  margin-left: 20px;
}
.item__content {
  width: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__title {
  font-family: El Messiri;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  padding-right: 25px;
  padding-left: 18px;
  order: 0;
}
.item__text-wrapper {
  display: flex;
  flex-direction: column;
  order: 2;
}
.item__text2-wrapper {
  display: flex;
  padding-bottom: 15px;
}
.item__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.item__question {
  font-size: 22px;
  font-weight: bold;
  min-width: 122px;
}
  .item__info-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  color: $dark-purple-color;
  order: 2;
}
.item__time-wrapper {
  display: flex;
  align-items: center;
}
.item__time {
  padding-left: 10px;
}
.item__link {
  text-decoration: underline;
}
.item__self {
  margin-top: 50px;
}
.item__price_item-page {
  margin-right: 50px;
  display: flex;
  width: 170px;
  height: 60px;
  background-color: $light-blue-color;
  justify-content: center;
  align-items: center;
}
.item__info-wrapper_item-page {
  order: 1;
}
.item__title_item-page {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  max-width: 600px;
  text-align: center;
  margin: 0;
}
@media (max-width: 1024px) {
  .item {
    padding: 0 10px;
  }
  .item__img {
    width: 300px;
    height: 375px;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .item {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .item__img {
    padding-bottom: 20px;
  }
  .item__title {
    padding-bottom: 10px;
  }
  .item__info-wrapper {
    padding: 15px 0;
  }
  .item__text {
    font-size: 18px;
    line-height: 26px;
  }
  .item__text2-wrapper {
    padding-bottom: 10px;
  }
}
