.main-photo {
  max-width: 1440px;
  min-height: 520px;
  background-image: url(/source/img/main_photo_crop.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 100px;
}
.main-photo__wrapper {
  max-width: 1340px;
  min-height: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.main-photo__title {
  color: white;
  font-family: El Messiri;
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 30px;
  align-self: flex-end;
  padding-right: 36px;
}
.main-photo__icon {
  stroke-width: 0;
  stroke: white;
  fill: white;
}
.main-photo__icon_wapp {
  stroke-width: 0.5;
}
.main-photo__icon:hover {
  fill: $purple-color;
  stroke: $purple-color;
}
.main-photo__icon:active {
  fill: $dark-purple-color;
  stroke: $dark-purple-color;
}
@media (max-width: 1024px) {
  .main-photo__title {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .main-photo {
    min-height: 493px;
    margin-bottom: 60px;
    background-image: url(/source/img/main_photo.jpg);
    background-repeat: no-repeat;
    background-position: 54%;
    background-position-y: center;
    background-size: 150%;
  }
  .main-photo__wrapper {
    min-height: 493px;
  }
  .main-photo__title {
    font-size: 35px;
    line-height: 40px;
    width: 60%;
  }
  .main-photo__icon {
    width: 30px;
  }
}
@media (max-width: 450px) {
  .main-photo {
    background-size: 250%;
  }
}
