.nav {
  width: 34%;
  font-family: El Messiri;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
}
.nav__link:hover {
  background-color: #9AADD1;
}
.nav__link:active {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.15), inset -4px -4px 4px rgba(0, 0, 0, 0.15);
}
.nav__link {
  width: 33%;
  text-align: center;
  color: $dark-purple-color;
  text-decoration: none;
  padding: 28px 0;
}
@media (max-width: 1024px) {
  .nav {
    width: 45%;
    font-size: 22px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
    }
}
