.navigation  {
  width: 320px;
}
.navigation__item {
  height: 105px;
  border-bottom: 2px solid $dark-purple-color;
  display: flex;
  align-items: center;
}

.navigation__link {
  color: $dark-purple-color;
  font-family: El Messiri;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: baseline;
}
.navigation__name {
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .navigation {
    width: 240px;
  }
  .navigation__item a {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
    .navigation__item_timing, .navigation__item_files {
      display: none;
    }
    .navigation__item_account {
      border: none;
    }
    .navigation__item {
      height: 60px;
    }

}

