.navigation  {
  width: 320px;
}
.navigation__item {
  height: 105px;
  border-bottom: 2px solid $dark-purple-color;
  display: flex;
  align-items: center;
}

.navigation__item a {
  color: $dark-purple-color;
  font-family: El Messiri;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
}
