@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/el_messiri/ElMessiri-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/el_messiri/ElMessiri-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/el_messiri/ElMessiri-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
